@import "../../style/variables.css";



.item {
	list-style: none;
	border-bottom-size: $item-border-size;
	border-bottom-style: $item-border-style;
	min-height:75px;
	display:flex;
	align-items: center;
	justify-content: space-between;
	font-size: $main-font-size;
	box-sizing: border-box;
	padding:$internal-padding;
}

.incomplete_item{
	background-color: $incomplete-bg-color;
	border-color: $incomplete-border-color;
}

.complete_item{
	background-color: $complete-bg-color;
	border-color: $complete-border-color;

}

.content{
	cursor: pointer;

}

.content:hover {
	text-decoration: underline;
}

.incomplete_item .content{
	color:$incomplete-text-color;
}

.complete_item .content {
	text-decoration:line-through;
	color:$complete-text-color;
}

.icons_left{
	min-width: 50px;
	display: flex;
	justify-content: flex-start;
}

.icons_right{
	min-width: 50px;
	display: flex;
	justify-content: flex-end;
}

.incomplete_item .handle {
	color:$incomplete-handle-color;
}


.complete_item .handle {
	color:$complete-handle-color;
	opacity: 0;
}


.icon{
	transition: .5s;
	cursor:pointer;
	margin-right: 5px;
	transform:scale(1);
	display:inline-block;
	font-size: $icon-size;
}

.icon:hover{
	transform: scale(1.3);
}

.incomplete_item .delete{
	color:$incomplete-delete-color;
}

.complete_item .delete{
	color:$complete-delete-color;
}


.incomplete_item .check{
	color:$incomplete-check-color;
}

.complete_item .check {
	color:$complete-check-color;
}
