@import "../../style/variables.css";



.item {
	list-style: none;
}

.handle {
	margin-right: 5px;
	cursor:pointer;
	transform: scale(1);
	transition:.5s;
	display: inline-block;
}

.handle:hover{
	transform: scale(1.3)
}

.handle_complete {
	margin-right: 5px;
	opacity: 0;
}

.content{
	cursor: pointer;

}

.content:hover {
	text-decoration: underline;
}

.icon{
	transition: .5s;
	cursor:pointer;
	margin-right: 5px;
	transform:scale(1);
	display:inline-block;
}

.icon:hover{
	transform: scale(1.3);
}

.delete{
	color:red;
}

.delete:hover{

}

.check{

}

.check_complete{
	color:grey;
}

.completed{
	text-decoration:line-through;
	color:grey;
}